.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky; 
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 5px 10px 30px rgba(0,0,0,0.02);
    z-index:1 ;
}
.nav.item{
    padding-right: 15%;
}
.nav-item:hover{
    text-decoration: none;
    color: white;
}
.nav.item a{
    height: 40px ;
  line-height: 43px;
  margin: 3px;
  padding: 0px 30px;
  display: flex;
  font-size: 0.9em;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  color: black !important; ;
  }

/* carousel */
.carousel{
    width: 100%;
}
.carousel img{
    width:100;
    height: 450px;
    z-index: 1;
}
/* flex cards*/

h2{
    text-align: center;
    color: cadetblue;
    font-family: inherit;
    margin-top: 25px !important;
}
.d-flex{
    margin-left:10%;
}
.d-flex img{
    padding: 10%;
    width: 300px;
    height: 300px;
}
.p-2:hover{
    border:solid cadetblue ;
    margin: 15px;
}
.p-2 button {
        width: 190px;
        height:44px ;
        display: flex;
        justify-content:center;
        align-items:center;
        color: white;
        background-color: cadetblue;
        border-radius: 20px;
        box-shadow: 5px 10px 30px rgba(24, 139, 119, 0.2);
}

.p-2 button {
    background-color:cadetblue ;
    transition: all ease 0.2s;
}


/* footer*/
footer{
    text-align:left;
    background-color:rgb(48 250 19 / 25%);
    color:black;
    padding-left: 35px;
    padding-top:10px;
    height: 60px;
}
footer p{
    display: inline-block;
}
.footerimg{
    text-align:right!important;
    display: inline-block;
    margin-left: 850px;
}



    
